html,
body {
    height: 100%;
    margin: 0px;
    overflow: hiden;
}

body.waiting {
    cursor: progress;
}

#shadowbox {
    height: 105%;
    width: 17vw;
    min-width: 300px;
    box-shadow: 3px 0px 5px grey;
    z-index: 0;
    position: fixed;
    margin-top: -20px;
    overflow: hidden;
    transition: .5s;
}

.noUi-pips {
    pointer-events: none !important;
}

.sidebar {
    float: left;
    height: 100%;
    position: absolute;
    width: 90%;
    margin-top: 40px;
    left: 0;
    margin: auto;
    padding-left: 10px;
    margin-right: -10px;
    z-index: 1;

}

.noUi-tooltip .noUi-handle:hover {
    display: block;
}

.vertical-buttons-div {
    float: right;
    right: 0px;
    position: absolute;
    width: 10%;
}

input {
    width: 45px;
}

.slider {
    margin-bottom: 50px;
    margin-left: 10px;
    width: 80%
}

#oxySlider .noUi-connect {
    background: #78B0F4;
}

#tempSlider .noUi-connect {
    background: #C14741;
}

.topbar {
    height: 45px;
    min-height: 40px;
    width: 100%;
    margin-top: -15px;
    padding: 0px;
    position: relative;
    margin-bottom: 40px;
    background-color: #2F2E2F;
    z-index: 2;
}

.viewer-menu {
    z-index: 1;
    background-color: #4B4B4B;
    border-right: 1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 250px;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    padding: 5px;
    top: 0;
    left: 0vw;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */

}

.viewer-menu.show {
    left: 17vw;
}

#viewer-menu {
    margin-bottom: -5px;
}

#data-menu {}

.menu-wrap {
    position: absolute;
    padding-top: 4vh;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
    z-index: 0;
    margin-left: 50;
}

form {
    width: 30%;
    padding: 20px;
    background: #4A4A4A;
    box-shadow: 0 2px 5px #ccc;
}

input,
.form-select,
textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 5px;
}

.form-select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 10px);
}

.item {
    position: relative;
    margin: 10px 0;
}

.item:hover p,
.item:hover i {
    color: #095484;
}
.checkboxes {
    width: calc(100%-5px);
}
input:hover,
select:hover,
textarea:hover {
    box-shadow: 0 0 5px 0 #095484;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
}
input[type="checkbox"] {
    width : 10px;
    color
}

.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 1%;
    top: 30px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}


@media (min-width: 568px) {

    .name-item,
    .name-item textarea,
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input[type="text"],
    .name-item textarea,
    .city-item input {
        width: calc(50% - 20px);
    }

    .city-item select {
        width: calc(50% - 8px);
    }
}

button.vertical span {
    position: relative;
    display: inline-block;
    transform: rotate(90deg);
    width: 90px;
    right: 35px;
}

button.vertical {
    width: 15px;
    height: 100px;
    padding: 0px;
    margin-left: 8px;
    z-index: 2;

    a {
        font-size: 40%;
    }
}

#viewer-button {
    margin-top: 4.5vh
}

#data-button {
    margin-top: 150px
}

@media (max-width: 1756px) {
    .viewer-menu.show {
        left: 300px;
    }
}

.superbar {
    height: 100%;
    width: 17vw;
    min-width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #4B4B4B;
    float: left;
    padding: 0px;
    overflow: hidden;
    transition: .5s;

}

.sidebar:hover {
    .viewer-menu {
        right: -100px;
    }
}

.modebar {}

select {
    width: 70px;
}

.sidebar p {
    color: #FFF;
}

#myDiv {
    float: right;
    width: 83vw;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#basin-menu {
    margin-bottom: 10px;
}

#rangeMap {
    margin-top: 20px;
    width: 200px;
    height: 100px;
    fill: white;
    border: 1px solid white;
}

h1 {
    color: white;
    font-size: 24px;
    padding: 10px;
    font-family: 'Muli', sans-serif;
    font-weight: 100;

}

h6 {
    color: white;
    font-size: 10px;
    margin-bottom: 2px;
    font-family: 'Muli', sans-serif;
    letter-spacing: .1em;

}



button {
    background-color: #E1E1D5;
    border-radius: 2px;
    border: none;
    font-family: 'Muli', sans-serif;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
}

button:hover {}

button:active {
    background-color: #D2D3CF;
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
}

.menu {
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 1px;
}

rect.selection {
    cursor: move !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    stroke: #545454;
    stroke-width: 2px;
    stroke-opacity: 1;
    fill: white;
    fill-opacity: 0.5;
}
